<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from wiseowl.dharansh.in/default/tables-data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 13:32:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/pace.css">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Viftech</title>
    <!-- CSS -->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600%7CRoboto:400" rel="stylesheet" type="text/css">
    <link href="../assets/vendors/material-icons/material-icons.css" rel="stylesheet" type="text/css">
    <link href="../assets/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendors/mono-social-icons/monosocialiconsfont.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendors/feather-icons/feather.css" rel="stylesheet" type="text/css">
    <link href="../assets/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/libs/datatables/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/libs/multi-select/0.9.12/css/multi-select.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- Head Libs -->
    <script src="../assets/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script data-pace-options='{ "ajax": false, "selectors": [ "img" ]}' src="../assets/libs/pace/1.0.2/pace.min.js"></script>
</head>

<body class="sidebar-dark sidebar-expand navbar-brand-dark header-light">
    <div id="wrapper" class="wrapper">
        <!-- HEADER & TOP NAVIGATION -->
        <nav class="navbar">
            <!-- Logo Area -->
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">
                    <img class="logo-expand" alt="" src="../assets/img/logo-light.png">
                    <img class="logo-collapse" alt="" src="../assets/img/logo-collapse.png">
                    <!-- <p>BonVue</p> -->
                </a>
            </div>
            <!-- /.navbar-header -->
            <!-- Left Menu & Sidebar Toggle -->
            <ul class="nav navbar-nav">
                <li class="sidebar-toggle dropdown"><a href="javascript:void(0)" class="ripple"><i class="feather feather-menu list-icon fs-20"></i></a>
                </li>
            </ul>
            <!-- /.navbar-left -->
            <!-- Search Form -->
            <form class="navbar-search d-none d-sm-block" role="search"><i class="feather feather-search list-icon"></i> 
                <input type="search" class="search-query" placeholder="Search anything..."> <a href="javascript:void(0);" class="remove-focus"><i class="feather feather-x"></i></a>
            </form>
            <!-- /.navbar-search -->
            <div class="spacer"></div>
            <!-- Right Menu -->
            <ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="feather feather-bell list-icon"></i> <span class="button-pulse bg-danger"></span></a>
                    <div class="dropdown-menu dropdown-left dropdown-card animated flipInY">
                        <div class="card">
                            <header class="card-header d-flex justify-content-between mb-0"><a href="javascript:void(0);"><i class="feather feather-bell color-primary" aria-hidden="true"></i></a>  <span class="heading-font-family flex-1 text-center fw-400">Notifications</span>  <a href="javascript:void(0);"><i class="feather feather-settings color-content"></i></a>
                            </header>
                            <ul class="card-body list-unstyled dropdown-list-group">
                                <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">check</i> </span><span class="media-body"><span class="heading-font-family media-heading">Invitation accepted</span> <span class="media-content">Your have been Invited ...</span></span></a>
                                </li>
                                <li><a href="#" class="media"><span class="d-flex thumb-xs user--online"><img src="assets/demo/users/user3.jpg" class="rounded-circle" alt=""> </span><span class="media-body"><span class="heading-font-family media-heading">Steve Smith</span> <span class="media-content">I slowly updated projects</span></span></a>
                                </li>
                                <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">event_available</i> </span><span class="media-body"><span class="-heading-font-family media-heading">To Do</span> <span class="media-content">Meeting with Nathan on Friday 8 AM ...</span></span></a>
                                </li>
                            </ul>
                            <!-- /.dropdown-list-group -->
                            <footer class="card-footer text-center"><a href="javascript:void(0);" class="headings-font-family text-uppercase fs-13">See all activity</a>
                            </footer>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.dropdown-menu -->
                </li>
                <!-- /.dropdown -->
                <li><a href="javascript:void(0);" class="right-sidebar-toggle"><i class="feather feather-settings list-icon"></i></a>
                </li>
            </ul>
            <!-- /.navbar-right -->
            <!-- User Image with Dropdown -->
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle dropdown-toggle-user ripple" data-toggle="dropdown"><span class="avatar thumb-xs2"><img src="assets/demo/users/user1.jpg" class="rounded-circle" alt=""> <i class="feather feather-chevron-down list-icon"></i></span></a>
                    <div
                    class="dropdown-menu dropdown-left dropdown-card dropdown-card-profile animated flipInY">
                        <div class="card">
                            <header class="card-header d-flex mb-0"><a href="javascript:void(0);" class="col-md-4 text-center"><i class="feather feather-user-plus align-middle"></i> </a><a href="javascript:void(0);" class="col-md-4 text-center"><i class="feather feather-settings align-middle"></i> </a>
                                <a
                                href="javascript:void(0);" class="col-md-4 text-center"><i class="feather feather-power align-middle"></i>
                                    </a>
                            </header>
                            <ul class="list-unstyled card-body">
                                <li><a href="#"><span><span class="align-middle">Manage Accounts</span></span></a>
                                </li>
                                <li><a href="#"><span><span class="align-middle">Change Password</span></span></a>
                                </li>
                                <li><a href="#"><span><span class="align-middle">Check Inbox</span></span></a>
                                </li>
                                <li><a href="#"><span><span class="align-middle">Sign Out</span></span></a>
                                </li>
                            </ul>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
    </div>
    <!-- /.dropdown-card-profile -->
    </li>
    <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-nav -->
    </nav>
    <!-- /.navbar -->
    <div class="content-wrapper">
        <!-- SIDEBAR -->
        <aside class="site-sidebar scrollbar-enabled" data-suppress-scroll-x="true">
            <!-- User Details -->
            <div class="side-user d-none">
                <div class="col-sm-12 text-center p-0 clearfix">
                    <div class="d-inline-block pos-relative mr-b-10">
                        <figure class="thumb-sm mr-b-0 user--online">
                            <img src="assets/demo/users/user1.jpg" class="rounded-circle" alt="">
                        </figure><a href="page-profile.html" class="text-muted side-user-link"><i class="feather feather-settings list-icon"></i></a>
                    </div>
                    <!-- /.d-inline-block -->
                    <div class="lh-14 mr-t-5"><a href="page-profile.html" class="hide-menu mt-3 mb-0 side-user-heading fw-500">Scott Adams</a>
                        <br><small class="hide-menu">Developer</small>
                    </div>
                </div>
                <!-- /.col-sm-12 -->
            </div>
            <!-- /.side-user -->
            <!-- Call to Action -->
          
            <!-- Sidebar Menu -->
            <nav class="sidebar-nav">
                    <ul class="nav in side-menu">
                        <li class="current-page "><a href="index.html"><i class="list-icon feather feather-command"></i> <span class="hide-menu">Dashboard</span></a>
                          
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon feather feather-folder"></i> <span class="hide-menu">Sample Pages</span></a>
                            <ul class="list-unstyled sub-menu">
                                <li><a href="page-blank.html">Blank Page</a>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);">Email Templates</a>
                                    <ul class="list-unstyled sub-menu">
                                        <li><a href="email-templates/basic.html">Basic</a>
                                        </li>
                                        <li><a href="email-templates/billing.html">Billing</a>
                                        </li>
                                        <li><a href="email-templates/friend-request.html">Friend Request</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);">Maps</a>
                                    <ul class="list-unstyled sub-menu">
                                        <li><a href="maps-google.html">Google Maps</a>
                                        </li>
                                        <li><a href="maps-vector.html">Vector Maps</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="page-lightbox.html">Lightbox Popup</a>
                                </li>
                                <li><a href="page-sitemap.html">Sitemap</a>
                                </li>
                                <li><a href="page-search-results.html">Search Results</a>
                                </li>
                                <li><a href="page-custom-scroll.html">Custom Scroll</a>
                                </li>
                                <li><a href="page-utility-classes.html">Utility Classes</a>
                                </li>
                                <li><a href="page-animations.html">Animations</a>
                                </li>
                                <li><a href="page-faq.html">FAQ</a>
                                </li>
                                <li><a href="page-pricing-table.html">Pricing</a>
                                </li>
                                <li><a href="page-error-403.html">403 Page</a>
                                </li>
                                <li><a href="page-error-404.html">404 Page</a>
                                </li>
                                <li><a href="page-error-500.html">500 Page</a>
                                </li>
                                <li><a href="page-error-503.html">503 Page</a>
                                </li>
                                
                               
                            </ul>
                        </li>
    
    
                        <li ><a href="tables-data-table.html"><i class="list-icon feather feather-command"></i> <span class="hide-menu">Records</span></a>
                          
                        </li>
                        <li ><a href="page-login.html"><i class="list-icon feather feather-command"></i> <span class="hide-menu">Login</span></a>
                          
                        </li>
    
                        <li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon feather feather-layout"></i> <span class="hide-menu">Forms</span></a>
                            <ul class="list-unstyled sub-menu">
                                <li><a href="form-elements.html">Elements</a>
                                </li>
                                <li><a href="form-pickers.html">Picker</a>
                                </li>
                                <li><a href="form-select.html">Select and Multiselect</a>
                                </li>
                              
                            </ul>
                        </li>
                    </ul>
                    <!-- /.side-menu -->
                </nav>
            <!-- /.sidebar-nav -->
        </aside>
        <!-- /.site-sidebar -->
        <main class="main-wrapper clearfix">
            <!-- Page Title Area -->
            <div class="row page-title clearfix">
                <div class="page-title-left">
                    <h6 class="page-title-heading mr-0 mr-r-5">Data Tables</h6>
                    <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
                </div>
                <!-- /.page-title-left -->
                <div class="page-title-right d-none d-sm-inline-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Data Tables</li>
                    </ol>
                </div>
                <!-- /.page-title-right -->
            </div>
            <!-- /.page-title -->
            <!-- =================================== -->
            <!-- Different data widgets ============ -->
            <!-- =================================== -->
            <div class="widget-list">
                <div class="row">
                    <div class="col-md-12 widget-holder">
                        <div class="widget-bg">
                            <div class="widget-heading clearfix">
                                <h5>jQuery DataTables</h5>
                                <button class="btn btn-outline-primary ripple "data-toggle="modal" data-target=".add_new_popup">
                                    <span>Add New</span>
                                    <i class="material-icons list-icon ml-2 font-30">add_box</i>  
                                </button>
                            </div>
                            <!-- /.widget-heading -->
                            <div class="widget-body clearfix">
                                <table class="table table-striped table-responsive" data-toggle="datatables" data-plugin-options='{"searching": false}'>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Ashar Nizam</td>
                                            <td>System Architect</td>
                                            <td>Viftech</td>
                                            <td>20</td>
                                            <td>2019/04/1</td>
                                            <td>000000</td>
                                            <td>
                                                <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                    <i class="fa fa-pencil-square-o "></i>
                                                </button>
                                                <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>Ashar Nizam</td>
                                                <td>System Architect</td>
                                                <td>Viftech</td>
                                                <td>20</td>
                                                <td>2019/04/1</td>
                                                <td>000000</td>
                                                <td>
                                                    <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                        <i class="fa fa-pencil-square-o "></i>
                                                    </button>
                                                    <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                        <i class="fa fa-trash-o "></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td>Ashar Nizam</td>
                                                    <td>System Architect</td>
                                                    <td>Viftech</td>
                                                    <td>20</td>
                                                    <td>2019/04/1</td>
                                                    <td>000000</td>
                                                    <td>
                                                        <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                            <i class="fa fa-pencil-square-o "></i>
                                                        </button>
                                                        <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                            <i class="fa fa-trash-o "></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                        <td>Ashar Nizam</td>
                                                        <td>System Architect</td>
                                                        <td>Viftech</td>
                                                        <td>20</td>
                                                        <td>2019/04/1</td>
                                                        <td>000000</td>
                                                        <td>
                                                            <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                <i class="fa fa-pencil-square-o "></i>
                                                            </button>
                                                            <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                <i class="fa fa-trash-o "></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                            <td>Ashar Nizam</td>
                                                            <td>System Architect</td>
                                                            <td>Viftech</td>
                                                            <td>20</td>
                                                            <td>2019/04/1</td>
                                                            <td>000000</td>
                                                            <td>
                                                                <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                    <i class="fa fa-pencil-square-o "></i>
                                                                </button>
                                                                <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                    <i class="fa fa-trash-o "></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                                <td>Ashar Nizam</td>
                                                                <td>System Architect</td>
                                                                <td>Viftech</td>
                                                                <td>20</td>
                                                                <td>2019/04/1</td>
                                                                <td>000000</td>
                                                                <td>
                                                                    <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                        <i class="fa fa-pencil-square-o "></i>
                                                                    </button>
                                                                    <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                        <i class="fa fa-trash-o "></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                    <td>Ashar Nizam</td>
                                                                    <td>System Architect</td>
                                                                    <td>Viftech</td>
                                                                    <td>20</td>
                                                                    <td>2019/04/1</td>
                                                                    <td>000000</td>
                                                                    <td>
                                                                        <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                            <i class="fa fa-pencil-square-o "></i>
                                                                        </button>
                                                                        <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                            <i class="fa fa-trash-o "></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                        <td>Ashar Nizam</td>
                                                                        <td>System Architect</td>
                                                                        <td>Viftech</td>
                                                                        <td>20</td>
                                                                        <td>2019/04/1</td>
                                                                        <td>000000</td>
                                                                        <td>
                                                                            <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                                <i class="fa fa-pencil-square-o "></i>
                                                                            </button>
                                                                            <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                                <i class="fa fa-trash-o "></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                            <td>Ashar Nizam</td>
                                                                            <td>System Architect</td>
                                                                            <td>Viftech</td>
                                                                            <td>20</td>
                                                                            <td>2019/04/1</td>
                                                                            <td>000000</td>
                                                                            <td>
                                                                                <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                                    <i class="fa fa-pencil-square-o "></i>
                                                                                </button>
                                                                                <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                                    <i class="fa fa-trash-o "></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                                <td>Ashar Nizam</td>
                                                                                <td>System Architect</td>
                                                                                <td>Viftech</td>
                                                                                <td>20</td>
                                                                                <td>2019/04/1</td>
                                                                                <td>000000</td>
                                                                                <td>
                                                                                    <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                                        <i class="fa fa-pencil-square-o "></i>
                                                                                    </button>
                                                                                    <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                                        <i class="fa fa-trash-o "></i>
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td>Ashar Nizam</td>
                                                                                    <td>System Architect</td>
                                                                                    <td>Viftech</td>
                                                                                    <td>20</td>
                                                                                    <td>2019/04/1</td>
                                                                                    <td>000000</td>
                                                                                    <td>
                                                                                        <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                                            <i class="fa fa-pencil-square-o "></i>
                                                                                        </button>
                                                                                        <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                                            <i class="fa fa-trash-o "></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>Ashar Nizam</td>
                                                                                        <td>System Architect</td>
                                                                                        <td>Viftech</td>
                                                                                        <td>20</td>
                                                                                        <td>2019/04/1</td>
                                                                                        <td>000000</td>
                                                                                        <td>
                                                                                            <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                                                <i class="fa fa-pencil-square-o "></i>
                                                                                            </button>
                                                                                            <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                                                <i class="fa fa-trash-o "></i>
                                                                                            </button>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td>Ashar Nizam</td>
                                                                                            <td>System Architect</td>
                                                                                            <td>Viftech</td>
                                                                                            <td>20</td>
                                                                                            <td>2019/04/1</td>
                                                                                            <td>000000</td>
                                                                                            <td>
                                                                                                <button class="btnedit "  data-toggle="modal" data-target=".edit_popup"> 
                                                                                                    <i class="fa fa-pencil-square-o "></i>
                                                                                                </button>
                                                                                                <button class="btndelete " data-toggle="modal" data-target=".delete_popup"> 
                                                                                                    <i class="fa fa-trash-o "></i>
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                       
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.widget-bg -->
                    </div>
                    <!-- /.widget-holder -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.widget-list -->
        </main>
        <!-- /.main-wrappper -->
        <!-- RIGHT SIDEBAR -->
        <aside class="right-sidebar scrollbar-enabled suppress-x">
            <div class="sidebar-chat" data-plugin="chat-sidebar">
                <div class="sidebar-chat-info">
                    <h6 class="fs-16">Chat List</h6>
                    <form class="mr-t-10">
                        <div class="form-group">
                            <input type="search" class="form-control form-control-rounded fs-13 heading-font-family pd-r-30" placeholder="Search for friends ..."> <i class="feather feather-search post-absolute pos-right vertical-center mr-3 text-muted"></i>
                        </div>
                    </form>
                </div>
                <div class="chat-list">
                    <div class="list-group row">
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Julein Renvoye">
                            <figure class="thumb-xs user--online mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user2.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Gene Newman</span>  <span class="username">@gene_newman</span> </span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Eddie Lebanovkiy">
                            <figure class="thumb-xs user--online mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user3.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Billy Black</span>  <span class="username">@billyblack</span> </span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Cameron Moll">
                            <figure class="thumb-xs user--online mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user5.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Herbert Diaz</span>  <span class="username">@herbert</span> </span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Bill S Kenny">
                            <figure class="user--busy thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user4.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Sylvia Harvey</span>  <span class="username">@sylvia</span> </span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Trent Walton">
                            <figure class="user--busy thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user6.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Marsha Hoffman</span>  <span class="username">@m_hoffman</span> </span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Julien Renvoye">
                            <figure class="user--offline thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user7.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Mason Grant</span>  <span class="username">@masongrant</span> </span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Eddie Lebaovskiy">
                            <figure class="user--offline thumb-xs mr-3 mr-0-rtl ml-3-rtl">
                                <img src="assets/demo/users/user8.jpg" class="rounded-circle" alt="">
                            </figure><span><span class="name">Shelly Sullivan</span>  <span class="username">@shelly</span></span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.chat-list -->
            </div>
            <!-- /.sidebar-chat -->
        </aside>
        <!-- CHAT PANEL -->
        <div class="chat-panel" hidden>
            <div class="card">
                <div class="card-header d-flex justify-content-between"><a href="javascript:void(0);"><i class="feather feather-message-square text-success"></i></a>  <span class="user-name heading-font-family fw-400">John Doe</span> 
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="widget-chat-activity flex-1">
                        <div class="messages scrollbar-enabled suppress-x">
                            <div class="message media reply">
                                <figure class="thumb-xs2 user--online">
                                    <a href="#">
                                        <img src="assets/demo/users/user3.jpg" class="rounded-circle" alt="">
                                    </a>
                                </figure>
                                <div class="message-body media-body">
                                    <p>Epic Cheeseburgers come in all kind of styles.</p>
                                </div>
                                <!-- /.message-body -->
                            </div>
                            <!-- /.message -->
                            <div class="message media">
                                <figure class="thumb-xs2 user--online">
                                    <a href="#">
                                        <img src="assets/demo/users/user1.jpg" class="rounded-circle" alt="">
                                    </a>
                                </figure>
                                <div class="message-body media-body">
                                    <p>Cheeseburgers make your knees weak.</p>
                                </div>
                                <!-- /.message-body -->
                            </div>
                            <!-- /.message -->
                            <div class="message media reply">
                                <figure class="thumb-xs2 user--offline">
                                    <a href="#">
                                        <img src="assets/demo/users/user5.jpg" class="rounded-circle" alt="">
                                    </a>
                                </figure>
                                <div class="message-body media-body">
                                    <p>Cheeseburgers will never let you down.</p>
                                    <p>They'll also never run around or desert you.</p>
                                </div>
                                <!-- /.message-body -->
                            </div>
                            <!-- /.message -->
                            <div class="message media">
                                <figure class="thumb-xs2 user--online">
                                    <a href="#">
                                        <img src="assets/demo/users/user1.jpg" class="rounded-circle" alt="">
                                    </a>
                                </figure>
                                <div class="message-body media-body">
                                    <p>A great cheeseburger is a gastronomical event.</p>
                                </div>
                                <!-- /.message-body -->
                            </div>
                            <!-- /.message -->
                            <div class="message media reply">
                                <figure class="thumb-xs2 user--busy">
                                    <a href="#">
                                        <img src="assets/demo/users/user6.jpg" class="rounded-circle" alt="">
                                    </a>
                                </figure>
                                <div class="message-body media-body">
                                    <p>There's a cheesy incarnation waiting for you no matter what you palete preferences are.</p>
                                </div>
                                <!-- /.message-body -->
                            </div>
                            <!-- /.message -->
                            <div class="message media">
                                <figure class="thumb-xs2 user--online">
                                    <a href="#">
                                        <img src="assets/demo/users/user1.jpg" class="rounded-circle" alt="">
                                    </a>
                                </figure>
                                <div class="message-body media-body">
                                    <p>If you are a vegan, we are sorry for you loss.</p>
                                </div>
                                <!-- /.message-body -->
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.messages -->
                    </div>
                    <!-- /.widget-chat-acitvity -->
                </div>
                <!-- /.card-body -->
                <form action="javascript:void(0)" class="card-footer" method="post">
                    <div class="d-flex justify-content-end"><i class="feather feather-plus-circle list-icon my-1 mr-3"></i>
                        <textarea class="border-0 flex-1" rows="1" style="resize: none" placeholder="Type your message here"></textarea>
                        <button class="btn btn-sm btn-circle bg-transparent" type="submit"><i class="feather feather-arrow-right list-icon fs-26 text-success"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.chat-panel -->
    </div>
    <!-- /.content-wrapper -->
    <!-- FOOTER -->




    <div class="modal modal-primary fade edit_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" style="display: none">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-inverse">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 class="modal-title" id="myLargeModalLabel2">Large Modal Heading</h5>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="l30">Email</label>
                                        <input class="form-control" id="l30" placeholder="Email Address" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group input-has-value">
                                        <label for="l31">Password</label>
                                            <div class="input-group input-has-value">
                                               <input class="form-control" id="l31" placeholder="Password" type="password"> <span class="input-group-addon"><i class="material-icons list-icon">lock</i></span>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                         <label for="l34">Input with Icon</label>
                                             <div class="input-group"><span class="input-group-addon"><i class="material-icons list-icon">search</i> </span>
                                                 <input class="input-error form-control" id="l34" type="text" value="">
                                             </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="l34">Input with Button</label>
                                        <div class="input-group">
                                            <input class="form-control" id="l8" placeholder="Search..." type="text"> <span class="input-group-btn"><a class="btn btn-success" href="javascript: void(0);">Search files</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="l34">Select</label>
                                        <select class="form-control" id="l13">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                                <option>Option 4</option>
                                                <option>Option 5</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                                <label class="form-control-label">Multiple Select</label>
                                                <select class="form-control" multiple="multiple" data-toggle="select2" data-plugin-options='{"minimumResultsForSearch": -1}'>
                                                    <option selected="selected">Mustard</option>
                                                    <option selected="selected">Ketchup</option>
                                                    <option>Relish</option>
                                                </select>
                                            </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Comment</label>
                                        <textarea class="form-control" id="l15" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="checkbox checkbox-primary">
                                                <label class="">
                                                    <input type="checkbox" id="sample3checkbox"> <span class="label-text">Remember me</span>
                                                </label>
                                            </div>
                                </div>
                            </div>

                      </div>
                    </div>
                    <div class="modal-footer"><a href="#" class="btn btn-info btn-rounded ripple text-left">Learn more</a> 
                        <button type="button" class="btn btn-danger btn-rounded ripple text-left" data-dismiss="modal">Close this</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
 <!-- /my target  -->

        <div class="modal modal-primary fade add_new_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" style="display: none">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-inverse">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title" id="myLargeModalLabel2">Large Modal Heading</h5>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="l30">Email</label>
                                            <input class="form-control" id="l30" value="ashar@gmail.com" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group input-has-value">
                                            <label for="l31">Password</label>
                                                <div class="input-group input-has-value">
                                                   <input class="form-control" id="l31" value="12345" type="password"> <span class="input-group-addon"><i class="material-icons list-icon">lock</i></span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             <label for="l34">Input with Icon</label>
                                                 <div class="input-group"><span class="input-group-addon"><i class="material-icons list-icon">search</i> </span>
                                                     <input class="input-error form-control" id="l34" type="text" value="">
                                                 </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="l34">Input with Button</label>
                                            <div class="input-group">
                                                <input class="form-control" id="l8" Value="Search..." type="text"> <span class="input-group-btn"><a class="btn btn-success" href="javascript: void(0);">Search files</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="form-group">
                                            <label for="l34">Option 1</label>
                                            <select class="form-control" id="l13">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="form-control-label">Multiple Select</label>
                                                    <select class="form-control" multiple="multiple" data-toggle="select2" data-plugin-options='{"minimumResultsForSearch": -1}'>
                                                        <option selected="selected">Mustard</option>
                                                        <option selected="selected">Ketchup</option>
                                                        <option>Relish</option>
                                                    </select>
                                                </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Comment</label>
                                            <textarea class="form-control" id="l15" rows="3" ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="checkbox checkbox-primary">
                                                    <label class="">
                                                        <input type="checkbox" id="sample3checkbox"> <span class="label-text">Remember me</span>
                                                    </label>
                                                </div>
                                    </div>
                                </div>
    
                          </div>
                        </div>
                        <div class="modal-footer"><a href="#" class="btn btn-info btn-rounded ripple text-left">Learn more</a> 
                            <button type="button" class="btn btn-danger btn-rounded ripple text-left" data-dismiss="modal">Close this</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
    

        <div class="modal modal-primary fade delete_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" style="display: none">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-inverse">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title" id="myLargeModalLabel2">Large Modal Heading</h5>
                        </div>
                        <div class="modal-body">
                         <h3>
                                Delete Permanently
                         </h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-rounded ripple text-left" data-dismiss="modal">Confirm</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
    




























    <footer class="footer"><span class="heading-font-family">Copyright @ Viftech</span>
    </footer>
    </div>
    <!--/ #wrapper -->
    <!-- Scripts -->
    <script src="../assets/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../assets/libs/popper.js/1.12.2/umd/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/libs/metisMenu/2.7.0/metisMenu.min.js"></script>
    <script src="../assets/libs/jquery.perfect-scrollbar/0.7.0/js/perfect-scrollbar.jquery.js"></script>
    <script src="../assets/libs/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="../assets/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="../assets/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="../assets/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
    <script src="../assets/js/theme.js"></script>
    <script src="../assets/js/custom.js"></script>
</body>


<!-- Mirrored from wiseowl.dharansh.in/default/tables-data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 13:32:21 GMT -->
</html>